<h1>Listing player_mlbs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_mlbs.each do |player_mlb| %>
  <tr>
    <td><%= link_to 'Show', player_mlb %></td>
    <td><%= link_to 'Edit', edit_player_mlb_path(player_mlb) %></td>
    <td><%= link_to 'Destroy', player_mlb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player mlb', new_player_mlb_path %>
